@page "/day"


<style>
    .background-container {
        position: relative;
        width: 100%;
        height: 600px; 
        overflow: hidden; 
    }

    .background-image {
        width: 30%; 
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 10px;
    }

    .text-container {
        position: absolute;
        top: 0;
        left: 40%; 
        width: 60%; 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .title {
        font-size: 40px; /* Adjust the font size as needed */
        color: black; /* Adjust the text color as needed */
        margin-bottom: 20px; /* Add some margin between title and text */
        text-align: center;
    }

    .text-content {
        color: black; 
        text-align: center;
    }
</style>

<div class="background-container">
    <img class="background-image" src="photo/meb.jpg" alt="MeBeforeYou">
    <div class="text-container">
        <div class="title">
            Me Before You
        </div>
        <div class="text-content">
                "Me Before You" is a poignant exploration of the transformative power of love and the 
                profound impact two souls can have on each other. In the small, intimate world created by Jojo Moyes, 
                the characters of Louisa Clark and Will Traynor navigate a journey that transcends the boundaries of circumstance.
                At its heart, the novel is a delicate dance between joy and heartbreak, as Louisa, a spirited and compassionate caregiver,
                is drawn into the life of Will, a once-adventurous man now confined to a wheelchair. Moyes weaves a tapestry of emotions, 
                exploring the complexities of choice, resilience, and the indomitable human spirit.
                Through the author's masterful storytelling, "Me Before You" invites readers to witness the blossoming of an extraordinary 
                connection, a bond that defies the limitations of physicality. As the narrative unfolds, it becomes a celebration of life's 
                unpredictable twists and the beauty found in unexpected places.
                This tender and beautifully crafted tale is not just a love story; it's a tribute 
                to the transformative power of compassion and the enduring resilience of the human heart. 
                Moyes' narrative captivates, leaving an indelible imprint on the reader's soul testament to 
                the enduring impact of a love that transcends time and circumstance.
        </div>
    </div>
</div>